</div>
</div>
</body>
<script>
    var map = L.map('mymapid').setView([45.8150, 15.9819], 12);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);
    map.locate({ setView: true, maxZoom: 12 });
    map.on('locationfound', function (e) {
        fetch("/location", {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(e.latlng)
        }).then((resp) => resp.json())
            .then(function (response) {
                for (let i in response) {
                    L.marker(response[i]).addTo(map);
                }
            });
    });

    map.on('locationerror', function (e) {
        fetch("/location", {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: null
        }).then((resp) => resp.json())
            .then(function (response) {
                for (let i in response) {
                    L.marker(response[i]).addTo(map);
                }
            });
    });


</script>

</html>