<%- include('partials/header') -%>

  <h1 class="text-4xl mb-4">Welcome <%= user.nickname %></h1>
  <h2 id="location" class="text-3xl mb-3" style="white-space: pre-wrap">Location - </h2>

  <%- include('partials/map') -%>

<%- include('partials/footer') -%>
